# DAY 1

# LIST

In [1]:
marks = [95,98,99]
print(marks)

[95, 98, 99]

In [2]:
marks = [95,98,99,"math"]
print(marks)

[95, 98, 99, 'math']

In [3]:
print(marks[0])
print(marks[-1])

95
math

In [9]:
print(marks[0:2])
print(marks[:3])
print(marks[1:])
print(marks[:])

[95, 98]
[95, 98, 99]
[98, 99, 'math']
[95, 98, 99, 'math']

In [10]:
for i in marks:
    print(i)

95
98
99
math

In [11]:
marks.append("english")
print(marks)

[95, 98, 99, 'math', 'english']

In [12]:
marks.insert(1,"urdu")
print(marks)

[95, 'urdu', 98, 99, 'math', 'english']

In [55]:
name = ["ghayur","qayyum","hubdar"]
age = [18,14,8]
num = [1,2,3]
name.extend(age)
print(name)

['ghayur', 'qayyum', 'hubdar', 18, 14, 8]

In [16]:
name.pop()
print(name)

['ghayur', 'qayyum', 'hubdar', 18, 14]

In [20]:
del name[2]
print(name)

['ghayur', 'qayyum', 18, 14]

In [21]:
name[1]="hubdar"
print(name)

['ghayur', 'hubdar', 18, 14]

In [22]:
del name[-1]
print(name)

['ghayur', 'hubdar', 18]

In [25]:
print(18 in name)

True

In [27]:
print(len(name))

3

In [28]:
name.clear()
print(name)

[]

In [29]:
print(name)

[]

In [3]:
name = ["ghayur","qayyum","hubdar"]
for i in name:
    if i =="hubdar":
        break;
    print(i)

ghayur
qayyum

In [5]:
age = [18,14,8]
for a in age:
    if a==14:
        continue; 
    print(a)

18
8

In [10]:
name = ["ghayur","ali","qayyum","hubdar"]
name.remove("hubdar")
print(name)

['ghayur', 'ali', 'qayyum']

In [9]:
name.sort()
print(name)

['ali', 'ghayur', 'qayyum']

In [65]:
num = [1,2,3,4,5]
num.sort(reverse = True)
print(num)

[5, 4, 3, 2, 1]

In [68]:
num = [7,6,5,4,33,3]
num.sort()
print(num)

[3, 4, 5, 6, 7, 33]

# TUPLE

In [13]:
MY_TUPLE = (21,44,56)
print(MY_TUPLE)

(21, 44, 56)

In [15]:
tupl = "ghayur","qayyum","hubdar"
print(tupl)

('ghayur', 'qayyum', 'hubdar')

In [16]:
tupl[0]="khan"
print(tupl)

TypeError: 'tuple' object does not support item assignment

In [21]:
n = (22,33,33,54,55,33,22)
print(n.count(33))
print(n.index(33))

3
1

# SETS

In [24]:
my_set = {1,2,3,3,4,3}
print(my_set)

{1, 2, 3, 4}

In [25]:
for i in my_set:
    print(i)

1
2
3
4

In [26]:
my_set.add(10)
print(my_set)

{1, 2, 3, 4, 10}

In [27]:
my_set.discard(3)
print(my_set)

{1, 2, 4, 10}

In [30]:
my_set.pop()
print(my_set)

{2, 4, 10}

In [31]:
my_set.clear()
print(my_set)

set()

In [32]:
print(my_set)

set()

In [49]:
a = {1,2,3,4}
b = {5,6,7,8}
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [50]:
a = {1,2,3,4}
b = {3,5,6,7,8}
print(a&b)

{3}

In [51]:
a = {1,2,3,4}
b = {3,5,6,7,8}
print(a-b)

{1, 2, 4}

In [52]:
a = {1,2,3,4}
b = {3,5,6,7,8}
print(a^b)

{1, 2, 4, 5, 6, 7, 8}

In [53]:
print(a)

{1, 2, 3, 4}

In [54]:
a.add(4)
print(a)

{1, 2, 3, 4}

# DICTIONARY

In [55]:
my_dict = {"math":61,"chemistry":55,"urdu":68}
print(my_dict)

{'math': 61, 'chemistry': 55, 'urdu': 68}

In [56]:
print(my_dict["math"])

61

In [57]:
my_dict["math"]=70
print(my_dict)

{'math': 70, 'chemistry': 55, 'urdu': 68}

In [58]:
del my_dict["math"]
print(my_dict)

{'chemistry': 55, 'urdu': 68}

In [59]:
my_dict["math"]=70
print(my_dict)
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

{'chemistry': 55, 'urdu': 68, 'math': 70}
dict_keys(['chemistry', 'urdu', 'math'])
dict_values([55, 68, 70])
dict_items([('chemistry', 55), ('urdu', 68), ('math', 70)])

# TASK

In [60]:
# find a smaller number
num = [7,6,5,4,33,3]
#num.min()
print(min(num))

3

In [1]:
# emerging two dictioneries
dict1 = {"name":"ghayur","class":"bscs","rool_no":108}
dict2 = {"name1":"qayyum","class1":"9th","rool_no1":10}
print(dict1|dict2)

{'name': 'ghayur', 'class': 'bscs', 'rool_no': 108, 'name1': 'qayyum', 'class1': '9th', 'rool_no1': 10}

# DAY 2

# FUNCTIONS

# BUILT-IN FUNCTION

In [61]:
# all pre defined function are called built in function

# MODULE FUNCTION

In [62]:
# all module that are imported are called module function
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [12]:
from math import sqrt
print(sqrt(4))

2.0

In [64]:
from math import *
print(sqrt(9))
print(tan(3))

3.0
-0.1425465430742778

In [4]:
import calendar
print(dir(calendar))

['Calendar', 'EPOCH', 'FRIDAY', 'February', 'HTMLCalendar', 'IllegalMonthError', 'IllegalWeekdayError', 'January', 'LocaleHTMLCalendar', 'LocaleTextCalendar', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'TextCalendar', 'WEDNESDAY', '_EPOCH_ORD', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_colwidth', '_locale', '_localized_day', '_localized_month', '_monthlen', '_nextmonth', '_prevmonth', '_spacing', 'c', 'calendar', 'datetime', 'day_abbr', 'day_name', 'different_locale', 'error', 'firstweekday', 'format', 'formatstring', 'isleap', 'leapdays', 'main', 'mdays', 'month', 'month_abbr', 'month_name', 'monthcalendar', 'monthrange', 'prcal', 'prmonth', 'prweek', 'repeat', 'setfirstweekday', 'sys', 'timegm', 'week', 'weekday', 'weekheader']

In [10]:
from calendar import month
yy =  2023
mm = 5
print(calendar.month(yy,mm))

      May 2023
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

# USER DEFINED FUNCTION

In [65]:
def print_sum(num1,num2):
    print(num1+num2)  
print_sum(5,6)

11

In [66]:
def print_sum(num1,num2=6):
    return num1+num2
print_sum(4)

10

In [67]:
a = 8
b = 9
g_mean = (a*b)/(a+b)
print(g_mean)

4.235294117647059

In [13]:
def g_mean(num1,num2):
    print((num1*num2)/(num1+num2))
g_mean(6,10)
g_mean(8,1) 
g_mean(6,15)

3.75
0.8888888888888888
4.285714285714286

In [69]:
# a function is a block of code that perform a specific task whenever it is called

# LAMBDA FUNCTION

In [70]:
# Anonoumous functon of a singla line

In [71]:
def double(num):
    return num*2
double(5)

10

In [72]:
double = lambda num:num*2
double(6)
print(double(6))
print(double(6))

12
12

In [73]:
multiply = lambda x,y:x*y
multiply(5,10)

50

# MAP FUNCTION

In [74]:
def cube(x):
    return x*x*x
cube(5)

125

In [3]:
l = [1,2,3,4,5,6,7,8]
new_l = []
def cube(x):
    return(x*x*x)
for i in l:
    new_l.append(cube(i))
print(new_l)

[1, 8, 27, 64, 125, 216, 343, 512]

In [76]:
l = [1,2,3,4,5,6,7,8]
def cube(x):
    return x*x*x
new_list = list(map(cube,l))
print(new_list)

[1, 8, 27, 64, 125, 216, 343, 512]

# `FILTER FUNCTION

In [77]:
l = [1,2,3,4,5,6,7,8]
def filter_func(a):
    return a>4
new_func = list(filter(filter_func,l))
print(new_func)

[5, 6, 7, 8]

# REDUCD FUNCTION

In [7]:
from functools import reduce
l = [1,2]
def filter_func(a,b):
    return a+b
new_func = reduce(filter_func,l)
print(new_func)

3

# EXCEPTION HANDLING

In [88]:
try:
    a = input("enter your number ")
    print(a*"ali")
except:
    print("All is well")
finally:
    print("try try again")

enter your number 5
All is well
try try again

In [99]:
try:
    #a = int(input("enter your number "))
    a = input("enter your number ")
    print(a*"8")
except Exception as e:
    print("All is well",e)
finally:
    print("try try again")

enter your number 6
All is well can't multiply sequence by non-int of type 'str'
try try again

# DAY 3

# OOP IN PYTHON

# CLASS

In [1]:
# a class is a blueprint or templates for declaring and creating object

# OBJECT

In [ ]:
# object is the instance of the class that allow coder to use variable and method outside the class

In [1]:
class phone:
    def make_call(self): # method
        print("making a call")
    def play_game(self):
        print("playing a game")
p1 = phone() # object
p1.make_call()
p1.play_game()

making a call
playing a game

# SETTER AND GETTER METHOD IN CLASS

In [4]:
class phone:
    def assign_color(self,col):# setter
        self.color = col
    def assign_cost(self,cst): # setter
        self.cost = cst
    def show_color(self): # getter
        return self.color
    def show_cost(self): # getter
        return self.cost
p2 = phone()
p2.assign_color("black")
p2.assign_cost(500000)
print(p2.show_color())
print(p2.show_cost())

black
500000

# CLASS USING CONSTRUCTOR

In [4]:
class employee:
    def __init__ (self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender= gender
    def employee_detail(self):
        print("name:",self.name)
        print("age:",self.age)
        print("salary:",self.salary)
        print("gender:",self.gender)
e = employee("ghayur abbas",18,50000,"male")
e.employee_detail()

name: ghayur abbas
age: 18
salary: 50000
gender: male

# INHERITENCE

In [ ]:
# allow classes to inherit common properties from parent classes

In [9]:
class A: # parent class
    def show_A(self):
        print("Ai")
class B(A): # child class
    def show_B(self):
        print("ML")
obj = B()
obj.show_A()
obj.show_B()

Ai
ML

# MULTI LEVEL INHERITENCE

In [14]:
class A:
    def show_A(self):
        print("AI")
class B(A):
    def show_B(self):
        print("ML")
class C(B):
    def show_C(self):
        print("DL")
obj = C()
obj.show_A()
obj.show_B()
obj.show_C()

AI
ML
DL

# MULTIPLE INHERITENCE

In [27]:
try:
    class A:
        def show_A(self):
            print("AI")
    class B:
        def show_B(self):
            print("ML")
    class c:
        def show_C(self):
            print("DL")
    obj = A()
    obj = B()
    obj = C()
    obj.show_A()
    obj.show_B()
    obj.show_C()
except:
    print("try try again")

AI
ML
DL

# ENCAPSULATION

In [ ]:
# An object not accessible outside the class
# hidden code
# private

In [37]:
class student:
    __name = "ghayur"
    def __init__(self):
        print(self.__name)
obj = student()

ghayur

In [39]:
class student:
    __name = "ghayur"
    print(__name)
obj = student()

ghayur

# DAY 4

# POLYMORPHISM

In [ ]:
# it is a ability to exist in many form
# two type
# overriding
# overloading

# OVERLOADING

In [5]:
# in this type function name are same but you can change parameter as you desire

In [6]:
class AI:
    def display_info(self,name=""):
        print("welcome to AI"+name)
obj = AI()
obj.display_info()
obj.display_info("ghayur ")

welcome to AI
welcome to AIghayur

# OVERRIDING

In [ ]:
# FUNCTION OVERRiding in this case
# same name function but in different classesd
# it actually use in inheritence

In [13]:
class AI:
    def display_info(self):
        print("welcome to AI")
class ML(AI):
    def display_info(self):
        print("welcom to ml")
obj = ML()
obj.display_info()
obj.display_info()

welcom to ml
welcom to ml

# HOW OVERCOME OVERRIDING

In [12]:
class AI:
    def display_info(self):
        print("welcome to AI")
class ML(AI):
    def display_info(self):
        super().display_info()
        print("welcom to ml")
obj = ML()
obj.display_info()

welcome to AI
welcom to ml

# EMPTY CLASS

In [14]:
class empty:
    pass

In [15]:
class empty:
    def emp(self):
        pass

# ABSTRACTION