
# DAY 1

# NUMPY

In [2]:
import numpy as np
a = [1,2,20,9]
a1 = np.array(a)
print(a1)

[ 1  2 20  9]

In [36]:
import numpy as np
a = [1,2,20,9]
a1 = np.array(a,np.int8)
print(a1)
print(a1.dtype)

[ 1  2 20  9]
int8

In [9]:
a2 = [1,2,3,445566,5,44]
a3 = np.array(a2,np.int8)
print(a3)

[  1   2   3 126   5  44]

In [10]:
a2 = [1,2,3,445566,5,44]
a3 = np.array(a2,np.int32)
print(a3)

[     1      2      3 445566      5     44]

In [11]:
# int function define the storage if we allocate int8 it mean we have allocating 8 byte memorey

# ACCESS SPECIFIC ELEMENT

In [12]:
a = [7,4,3,5,2,3]
a4 = np.array(a)
print(a4[0])

7

In [13]:
print(np.array(a[1]))

4

# ONE D-ARRAY

In [16]:
one_d = [2,1,5,5,3]
d1 = np.array(one_d)
print(d1)

[2 1 5 5 3]

# TWO D-ARRAY

In [17]:
two_d = ([[1,2,3],[4,5,6]])
d2 = np.array(two_d)
print(d2)

[[1 2 3]
 [4 5 6]]

# THREE D-ARRAY

In [18]:
three_d = ([[[1,2],[3,4],[5,6]]])
d3 = np.array(three_d)
print(d3)

[[[1 2]
  [3 4]
  [5 6]]]

# METHOD

# SHAPE

In [25]:
one_d = [2,1,5,5,3]
d1 = np.array(one_d)
print(d1.shape)

(5,)

In [28]:
t = ([[43,4,2],[2,4,3]])
t1 = np.array(t)
print(t1.shape)

(2, 3)

In [32]:
multi_level_array = ([[[[[5,6]]]]])
f = np.array(multi_level_array)
print(f.shape)

(1, 1, 1, 1, 2)

# SIZE

In [29]:
one_d = [2,1,5,5,3]
d1 = np.array(one_d)
print(d1.size)

5

In [31]:
t = ([[43,4,2],[2,4,3]])
t1 = np.array(t)
print(t1.size)

6

In [33]:
multi_level_array = ([[[[[5,6]]]]])
f = np.array(multi_level_array)
print(f.size)

2

# dtype

In [34]:
t = ([[43,4,2],[2,4,3]])
t1 = np.array(t)
print(t1.dtype)

int32

In [35]:
multi_level_array = ([[[[[5,6]]]]])
f = np.array(multi_level_array)
print(f.dtype)

int32

# REPLACING ELEMENT

In [40]:
r = [2,1,2,3,4,5]
r1 = np.array(r)
print(r1)
r1[0]= 0
print(r1)

[2 1 2 3 4 5]
[0 1 2 3 4 5]

In [41]:
t = ([[43,4,2],[2,4,3]])
t1 = np.array(t)
t1[1][0]= 5
print(t1)

[[43  4  2]
 [ 5  4  3]]

# INTRINSIC NUMPY

# ZEROS

In [44]:
z = np.zeros((3,3))
print(z)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [45]:
z1 = np.zeros((4,4))
print(z1)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

# ARANGE

In [51]:
r = np.arange(6)
print(r)

[0 1 2 3 4 5]

In [53]:
r1 = np.arange(2)
print(r1)

[0 1]

# RESHAPE

In [61]:
r2 = [0,1,2,3,4,5]
r3=np.array(r2)
print(r3.reshape(3,2))

[[0 1]
 [2 3]
 [4 5]]

In [63]:
r2 = [0,1,2,3,4,5,6,7,8]
r3=np.array(r2)
print(r3.reshape(3,3))

[[0 1 2]
 [3 4 5]
 [6 7 8]]

# RAVEL

In [70]:
r2 = [0,1,2,3,4,5]
r3=np.array(r2)
print(r3.reshape(3,2))
print(r3.ravel())

[[0 1]
 [2 3]
 [4 5]]
[0 1 2 3 4 5]

# LINSPACE

In [78]:
lspace = np.linspace(1,5,10)
print(lspace)

[1.         1.44444444 1.88888889 2.33333333 2.77777778 3.22222222
 3.66666667 4.11111111 4.55555556 5.        ]

In [9]:
l = np.linspace(2,5,12)
print(l)

[2.         2.27272727 2.54545455 2.81818182 3.09090909 3.36363636
 3.63636364 3.90909091 4.18181818 4.45454545 4.72727273 5.        ]

# EMPTY

In [7]:
import numpy as np
e = np.empty((5,3))
print(e)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

# IDENTITY

In [2]:
import numpy as np
i = np.identity((3))
print(i)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [3]:
i = np.identity(5)
print(i)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

# ONES

In [90]:
o = np.ones((3,3))
print(o)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

# AXIS

In [ ]:
# axis = 0 mean horizental or row
# axis = 1 mean vertical or columns

In [3]:
import numpy as np
x = np.array([[1,2,3],[4,5,6]])
print(x.sum(axis = 0))

[5 7 9]

In [13]:
x = np.array([[1,2,3],[4,5,6]])
x.sum(axis = 0)

array([5, 7, 9])

In [15]:
x = np.array([[1,2,3],[4,5,6]])
x.sum(axis = 1)

array([ 6, 15])

In [18]:
x = np.array([[1,2,3],[4,5,6]])
print(x.ndim)

2

In [19]:
x = np.array([[1,2,3],[4,5,6]], ndmin = 5)
print(x.ndim)

5

In [1]:
import numpy as np
x = np.array([[1,2,3],[4,5,6]])
print(x.nbytes)
print(x.dtype)

24
int32

In [22]:
x1 = np.array([1,3,46,9])
print(x1.argmax())

2

In [24]:
x1 = np.array([1,3,46,9])
print(x1.argmin())

0

In [25]:
x1 = np.array([1,3,46,9])
print(x1.argsort())

[0 1 3 2]

# prove that array is storage efficient then list

In [28]:
import sys
import numpy as np
python_array = [0,4,55,2]
numpy_array = np.array([python_array])
print(sys.getsizeof(1)*len(python_array))
print(sys.getsizeof(1)*len(numpy_array))

112
28

In [36]:
x = np.array([[[1,2],[3,4],[5,6]]])
print(x.argmax())

5

In [37]:
x = np.array([[[1,2],[3,4],[5,6]]])
print(x.argmin())

0

In [38]:
x = np.array([[[1,2],[3,4],[5,6]]])
print(x.argsort())

[[[0 1]
  [0 1]
  [0 1]]]

In [1]:
import numpy as np
x = np.array([[[1,2],[3,4],[5,6]]])
print(x)
print(x.sum(axis = 0))

[[[1 2]
  [3 4]
  [5 6]]]
[[1 2]
 [3 4]
 [5 6]]

In [42]:
x = np.array([[[1,2],[3,4],[5,6]]])
print(x.argmax(axis = 0))

[[0 0]
 [0 0]
 [0 0]]

# DAY 2

# addition

In [2]:
import numpy as np
a1 = np.array([[1,2,3],[4,5,6],[7,1,0]])
a2 = np.array([[1,2,1],[4,0,6],[8,1,0]])
print(a1+a2)

[[ 2  4  4]
 [ 8  5 12]
 [15  2  0]]

# multiplication

In [3]:
import numpy as np
a1 = np.array([[1,2,3],[4,5,6],[7,1,0]])
a2 = np.array([[1,2,1],[4,0,6],[8,1,0]])
print(a1*a2)

[[ 1  4  3]
 [16  0 36]
 [56  1  0]]


# SQRT

In [4]:
s = np.array([4,9,16,36])
print(np.sqrt(s))

[2. 3. 4. 6.]

# SUM

In [4]:
s = np.array([4,9,16,36])
print(s.sum())
print(np.sum(s))
print(np.max(s))
print(np.min(s))

65
65
36
4

# WHERE

In [9]:
a1 = np.array([[1,2,3],[4,5,6],[7,1,0]])
print(np.where(a1>5))

(array([1, 2], dtype=int64), array([2, 0], dtype=int64))

# non zero

In [11]:
a1 = np.array([[1,2,3],[4,5,6],[7,1,0]])
print(a1)
print(np.nonzero(a1))

[[1 2 3]
 [4 5 6]
 [7 1 0]]
(array([0, 0, 0, 1, 1, 1, 2, 2], dtype=int64), array([0, 1, 2, 0, 1, 2, 0, 1], dtype=int64))

# CONCATENATE

In [13]:
# list
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])
print(np.concatenate((a1,a2)))

[1 2 3 4 5 6]

In [21]:
arr1 = np.array([[1,2],[3,4]])
arr2 = np.array([[5,6],[7,8]])
#print(np.concatenate((arr1,arr2)))
print(np.concatenate((arr1,arr2), axis = 0))
print('\r')
print(np.concatenate((arr1,arr2), axis = 1))

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

[[1 2 5 6]
 [3 4 7 8]]

# SLICING

In [23]:
s = np.array([4,9,16,36])
print(s[:])
print(s[0:2])
print(s[1:])

[ 4  9 16 36]
[4 9]
[ 9 16 36]

In [31]:
i = np.array([1,2,3,4,5,6,7,8,9])
print(i[1:5:3])
print(i[1:8:3])
print(i[::2])
print(i[::3])

[2 5]
[2 5 8]
[1 3 5 7 9]
[1 4 7]

# stacking

In [39]:
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])
print(np.stack((a1,a2)))

[[1 2 3]
 [4 5 6]]

In [40]:
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])
print(np.vstack((a1,a2)))

[[1 2 3]
 [4 5 6]]

In [41]:
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])
print(np.hstack((a1,a2)))

[1 2 3 4 5 6]

In [42]:
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])
print(np.dstack((a1,a2)))

[[[1 4]
  [2 5]
  [3 6]]]

In [49]:
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])
print(np.stack((a1,a2),axis=1))

[[1 4]
 [2 5]
 [3 6]]

In [50]:
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])
print(np.stack((a1,a2),axis=0))

[[1 2 3]
 [4 5 6]]

# SPLITING

In [68]:
a1 = np.array([1,2,3])
print(np.array_split(a1,3))

[array([1]), array([2]), array([3])]

In [69]:
a1 = np.array([1,2,3])
print(np.hsplit(a1,3))

[array([1]), array([2]), array([3])]

In [84]:
s = np.array([1,2,3,4,5,6,6,7])
p=(np.array_split(s,3))
print(p)
print(p[1])

[array([1, 2, 3]), array([4, 5, 6]), array([6, 7])]
[4 5 6]

In [81]:
s = np.array([[1,2,3,4,5,6,6,7],[3,4,5,6,7,2,3,5]])
print(np.array_split(s,3,axis = 1))

[array([[1, 2, 3],
       [3, 4, 5]]), array([[4, 5, 6],
       [6, 7, 2]]), array([[6, 7],
       [3, 5]])]

# COPY

In [62]:
a = np.array([1,2,3,4,5])
c = np.copy(a)
print(a)
print(c)

[1 2 3 4 5]
[1 2 3 4 5]

In [64]:
a = np.array([1,2,3,4,5])
c = a.copy()
a[-1] = 10
print(a)
print(c)

[ 1  2  3  4 10]
[1 2 3 4 5]

# view

In [65]:
a = np.array([1,2,3,4,5])
c = a.view()
print(a)
print(c)

[1 2 3 4 5]
[1 2 3 4 5]

In [66]:
a = np.array([1,2,3,4,5])
c = a.view()
a[-1] = 10
print(a)
print(c)

[ 1  2  3  4 10]
[ 1  2  3  4 10]

In [92]:
fill = np.array([71,72,73,75])
fill1 = fill>72
fill2 = fill%2 == 0
new_arr1 = fill[fill1]
new_arr2 = fill[fill2]

print(fill1)
print(fill2)
print(new_arr1)
print(new_arr2)

[False False  True  True]
[False  True False False]
[73 75]
[72]

# FLIP

In [91]:
i = np.array([1,2,3,4,5,6])
print(np.flip(i))

[6 5 4 3 2 1]

# DAY 3

# PANDAS

# DATAFRAME

In [17]:
import numpy as np
import pandas as pd
dict = {
    'name':["ghayur","waseem","abbasi","wafadar"],
    'marks':[975,875,950,875],
    'city':["m garh","dokota","mailsi","m garh"]
}
pdf = pd.DataFrame(dict)
pdf.to_csv("marks data.csv")
print(pdf)

      name  marks    city
0   ghayur    975  m garh
1   waseem    875  dokota
2   abbasi    950  mailsi
3  wafadar    875  m garh

# HEAD

In [12]:
print(pdf.head(2))

     name  marks    city
0  ghayur    975  m garh
1  waseem    875  dokota

In [13]:
print(pdf.head())

      name  marks    city
0   ghayur    975  m garh
1   waseem    875  dokota
2   abbasi    950  mailsi
3  wafadar    875  m garh

# TAIL

In [2]:
import numpy as np
import pandas as pd
dict = {
    'name':["ghayur","waseem","abbasi","wafadar"],
    'marks':[975,875,950,875],
    'city':["m garh","dokota","mailsi","m garh"]
}
pdf = pd.DataFrame(dict)
print(pdf.tail(2))

      name  marks    city
2   abbasi    950  mailsi
3  wafadar    875  m garh

In [3]:
print(pdf.tail())

      name  marks    city
0   ghayur    975  m garh
1   waseem    875  dokota
2   abbasi    950  mailsi
3  wafadar    875  m garh

# DESCRIBE

In [5]:
# it will describe all about numerical data
print(pdf.describe())

           marks
count    4.00000
mean   918.75000
std     51.53882
min    875.00000
25%    875.00000
50%    912.50000
75%    956.25000
max    975.00000

# READ CSV FILE

In [10]:
import pandas as pd
df = pd.read_csv("train.csv")
print(df)

  Train No  Speed      City
0      22U     81    Lahore
1      14D     70   Karachi
2      10D     75    Quetta
3      33U     65  Peshawar

In [14]:
print(df["Speed"])

0    81
1    70
2    75
3    65
Name: Speed, dtype: int64

In [17]:
df["Speed"][1] = 90
print(df)

  Train No  Speed      City
0      22U     81    Lahore
1      14D     90   Karachi
2      10D     75    Quetta
3      33U     65  Peshawar

C:\Users\Administrator\AppData\Local\Temp\ipykernel_3740\3779487539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Speed"][1] = 90

In [18]:
# it will override the excel indexing
df.to_csv("train2.csv",index=False)
print(df)

  Train No  Speed      City
0      22U     81    Lahore
1      14D     90   Karachi
2      10D     75    Quetta
3      33U     65  Peshawar

# SERIES

In [4]:
import numpy as np
import pandas as pd
sr = pd.Series(np.random.rand(100))
print(sr)

0     0.718857
1     0.627276
2     0.086540
3     0.308797
4     0.795409
        ...
95    0.077935
96    0.191763
97    0.589845
98    0.511298
99    0.415124
Length: 100, dtype: float64

In [5]:
new_df = pd.DataFrame(np.random.rand(100,5))
print(new_df)

           0         1         2         3         4
0   0.138539  0.670904  0.608348  0.754440  0.745276
1   0.102114  0.970152  0.030832  0.894518  0.528816
2   0.339483  0.975843  0.300823  0.562222  0.895624
3   0.227656  0.906127  0.416459  0.645781  0.501691
4   0.104325  0.423600  0.188278  0.096609  0.218623
..       ...       ...       ...       ...       ...
95  0.116329  0.698458  0.426150  0.552274  0.258438
96  0.166687  0.524580  0.065409  0.043642  0.306076
97  0.463220  0.740360  0.716583  0.968224  0.610061
98  0.740513  0.385430  0.439321  0.773341  0.210739
99  0.767631  0.509351  0.181298  0.442191  0.625717

[100 rows x 5 columns]

In [6]:
new_df = pd.DataFrame(np.random.rand(100,5),index= np.arange(100))
print(new_df)

           0         1         2         3         4
0   0.175308  0.705088  0.762862  0.569843  0.780843
1   0.319452  0.797450  0.026815  0.850854  0.176900
2   0.668731  0.737345  0.205142  0.421783  0.963488
3   0.974965  0.735314  0.932024  0.892929  0.985574
4   0.861701  0.456065  0.215219  0.512216  0.136328
..       ...       ...       ...       ...       ...
95  0.029110  0.485132  0.116373  0.421584  0.420155
96  0.539918  0.169009  0.205321  0.472994  0.668802
97  0.045681  0.797353  0.505919  0.719599  0.014682
98  0.351928  0.522831  0.004508  0.718505  0.423461
99  0.719572  0.643123  0.750068  0.775942  0.774845

[100 rows x 5 columns]

In [25]:
print(new_df.to_string())

           0         1         2         3         4
0   0.211997  0.565431  0.053296  0.672894  0.143203
1   0.711047  0.580650  0.340208  0.667409  0.398879
2   0.639021  0.271338  0.558136  0.725831  0.618024
3   0.568219  0.805542  0.250923  0.622163  0.024855
4   0.426478  0.357677  0.701669  0.284773  0.163024
5   0.705229  0.241928  0.645312  0.345589  0.558754
6   0.761644  0.552253  0.637754  0.084746  0.747250
7   0.728629  0.572719  0.920281  0.930203  0.880984
8   0.713171  0.967418  0.454549  0.511946  0.561629
9   0.133753  0.623412  0.308606  0.711228  0.314419
10  0.562491  0.868200  0.946874  0.479094  0.055882
11  0.818235  0.510150  0.046299  0.960188  0.889173
12  0.052882  0.959600  0.659203  0.142674  0.452512
13  0.603462  0.961894  0.765920  0.046706  0.375471
14  0.961320  0.358681  0.197755  0.720642  0.323486
15  0.304061  0.358128  0.734491  0.090900  0.907949
16  0.767832  0.761794  0.210125  0.273351  0.084859
17  0.154584  0.448940  0.222715  0.065003  0.352625
18  0.011544  0.079631  0.445335  0.720642  0.089201
19  0.193988  0.859652  0.862880  0.798049  0.997385
20  0.991114  0.268066  0.902681  0.224821  0.550217
21  0.516440  0.660036  0.496991  0.183039  0.186715
22  0.803551  0.567518  0.351446  0.212810  0.416279
23  0.660715  0.453075  0.293795  0.584607  0.278185
24  0.418306  0.838696  0.826858  0.960983  0.505454
25  0.719536  0.800044  0.175921  0.736160  0.853464
26  0.031411  0.457958  0.721182  0.119663  0.804070
27  0.791458  0.960373  0.883292  0.575365  0.690911
28  0.671860  0.180598  0.570937  0.605241  0.868893
29  0.228104  0.479403  0.270652  0.717207  0.917584
30  0.299510  0.798487  0.818069  0.531953  0.679111
31  0.349886  0.060388  0.013257  0.075973  0.561419
32  0.253719  0.623168  0.008129  0.604695  0.807694
33  0.377586  0.599859  0.324881  0.856598  0.479543
34  0.356341  0.120711  0.662060  0.195358  0.034698
35  0.817273  0.463959  0.000730  0.360712  0.298890
36  0.881251  0.986648  0.290366  0.137103  0.805951
37  0.930090  0.899846  0.135459  0.053508  0.278483
38  0.800993  0.089789  0.246237  0.572890  0.020083
39  0.004211  0.440999  0.270120  0.191658  0.229092
40  0.660993  0.933697  0.137999  0.227048  0.734230
41  0.145184  0.378546  0.965779  0.037242  0.340636
42  0.676608  0.755546  0.725349  0.133754  0.322892
43  0.810807  0.203259  0.056736  0.402914  0.988717
44  0.634325  0.701777  0.317237  0.673837  0.920096
45  0.546655  0.461779  0.755061  0.269009  0.810381
46  0.899967  0.838315  0.115855  0.739945  0.648932
47  0.336924  0.873818  0.105102  0.319460  0.141325
48  0.030407  0.578961  0.573133  0.211382  0.423323
49  0.796962  0.102919  0.213095  0.001581  0.868404
50  0.182489  0.178740  0.753091  0.967181  0.709786
51  0.461909  0.524296  0.170856  0.629277  0.845613
52  0.276134  0.296680  0.713107  0.433452  0.484565
53  0.103308  0.556095  0.088557  0.259432  0.591575
54  0.778133  0.618045  0.592217  0.114523  0.316721
55  0.496632  0.614943  0.370425  0.165076  0.952406
56  0.024666  0.503054  0.313800  0.643683  0.109793
57  0.408141  0.405028  0.602611  0.062574  0.947485
58  0.082225  0.252083  0.538313  0.942953  0.941390
59  0.910893  0.343939  0.376234  0.673772  0.192305
60  0.347795  0.869778  0.659573  0.629002  0.719871
61  0.457263  0.887575  0.406457  0.824531  0.062668
62  0.704081  0.811807  0.524012  0.331586  0.629792
63  0.105411  0.045542  0.805580  0.397605  0.128493
64  0.321622  0.755230  0.429444  0.618539  0.044478
65  0.689707  0.885506  0.003094  0.355598  0.360199
66  0.362019  0.637465  0.193505  0.286479  0.423249
67  0.254820  0.468153  0.626894  0.693084  0.168853
68  0.324354  0.427569  0.847201  0.168792  0.075450
69  0.032969  0.079022  0.962076  0.051404  0.371500
70  0.360266  0.369334  0.650678  0.423789  0.219129
71  0.559495  0.222052  0.717384  0.522834  0.255829
72  0.084050  0.971439  0.263900  0.057397  0.620074
73  0.679043  0.116460  0.263985  0.435898  0.192992
74  0.373618  0.678647  0.807551  0.371063  0.903560
75  0.552743  0.839352  0.884490  0.455721  0.681375
76  0.360874  0.760671  0.609104  0.115807  0.168917
77  0.755527  0.504898  0.438686  0.929786  0.350744
78  0.313821  0.378007  0.290021  0.837510  0.316724
79  0.106601  0.296276  0.879144  0.777621  0.607655
80  0.641935  0.138054  0.279481  0.556330  0.763167
81  0.571989  0.384494  0.635275  0.289587  0.482328
82  0.265972  0.754339  0.077361  0.058988  0.484163
83  0.227183  0.853687  0.588355  0.385992  0.833382
84  0.197490  0.529661  0.776074  0.797492  0.679187
85  0.827928  0.025730  0.024412  0.501725  0.804992
86  0.885336  0.321822  0.605597  0.820603  0.255834
87  0.738289  0.863182  0.861007  0.899189  0.276651
88  0.432707  0.353502  0.199644  0.199470  0.466820
89  0.643132  0.997347  0.217092  0.268586  0.042571
90  0.131815  0.176332  0.069660  0.602598  0.597976
91  0.990904  0.086235  0.898928  0.899109  0.131944
92  0.728421  0.524477  0.171057  0.965742  0.658974
93  0.238231  0.366871  0.191007  0.017231  0.180742
94  0.305174  0.876405  0.621973  0.261137  0.865623
95  0.328113  0.374273  0.436902  0.671407  0.724995
96  0.677663  0.961481  0.537131  0.665960  0.389119
97  0.060463  0.768446  0.977617  0.315068  0.576758
98  0.584779  0.201941  0.794731  0.265511  0.973375
99  0.680894  0.654969  0.758216  0.049705  0.897447

In [26]:
print(new_df.head())

          0         1         2         3         4
0  0.211997  0.565431  0.053296  0.672894  0.143203
1  0.711047  0.580650  0.340208  0.667409  0.398879
2  0.639021  0.271338  0.558136  0.725831  0.618024
3  0.568219  0.805542  0.250923  0.622163  0.024855
4  0.426478  0.357677  0.701669  0.284773  0.163024

In [27]:
print(new_df.tail())

           0         1         2         3         4
95  0.328113  0.374273  0.436902  0.671407  0.724995
96  0.677663  0.961481  0.537131  0.665960  0.389119
97  0.060463  0.768446  0.977617  0.315068  0.576758
98  0.584779  0.201941  0.794731  0.265511  0.973375
99  0.680894  0.654969  0.758216  0.049705  0.897447

In [28]:
print(new_df.index)

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64')

In [29]:
print(new_df.to_numpy())

[[2.11996542e-01 5.65431438e-01 5.32956026e-02 6.72893765e-01
  1.43203229e-01]
 [7.11046580e-01 5.80650453e-01 3.40207682e-01 6.67409160e-01
  3.98879120e-01]
 [6.39020728e-01 2.71338418e-01 5.58135549e-01 7.25831334e-01
  6.18023981e-01]
 [5.68218793e-01 8.05541536e-01 2.50923395e-01 6.22162889e-01
  2.48548991e-02]
 [4.26477564e-01 3.57676910e-01 7.01668917e-01 2.84773398e-01
  1.63023861e-01]
 [7.05228553e-01 2.41928147e-01 6.45311574e-01 3.45588512e-01
  5.58754393e-01]
 [7.61644283e-01 5.52253188e-01 6.37753865e-01 8.47458309e-02
  7.47250080e-01]
 [7.28628503e-01 5.72718857e-01 9.20281315e-01 9.30202726e-01
  8.80984279e-01]
 [7.13170530e-01 9.67417501e-01 4.54549400e-01 5.11946060e-01
  5.61628824e-01]
 [1.33753170e-01 6.23411946e-01 3.08606256e-01 7.11228260e-01
  3.14419452e-01]
 [5.62490963e-01 8.68200458e-01 9.46874466e-01 4.79094042e-01
  5.58817912e-02]
 [8.18235072e-01 5.10149685e-01 4.62987546e-02 9.60188282e-01
  8.89172762e-01]
 [5.28819925e-02 9.59600351e-01 6.59203487e-01 1.42673946e-01
  4.52511717e-01]
 [6.03461566e-01 9.61894420e-01 7.65919653e-01 4.67057146e-02
  3.75471066e-01]
 [9.61320008e-01 3.58680608e-01 1.97755148e-01 7.20642476e-01
  3.23486190e-01]
 [3.04060677e-01 3.58128037e-01 7.34491088e-01 9.09000953e-02
  9.07949394e-01]
 [7.67832160e-01 7.61793865e-01 2.10125051e-01 2.73351300e-01
  8.48593083e-02]
 [1.54583957e-01 4.48940488e-01 2.22715028e-01 6.50032531e-02
  3.52624814e-01]
 [1.15439221e-02 7.96306626e-02 4.45334741e-01 7.20641796e-01
  8.92008863e-02]
 [1.93987897e-01 8.59651879e-01 8.62879696e-01 7.98049307e-01
  9.97385416e-01]
 [9.91113841e-01 2.68066412e-01 9.02680869e-01 2.24820926e-01
  5.50217117e-01]
 [5.16440461e-01 6.60035909e-01 4.96990738e-01 1.83039220e-01
  1.86715312e-01]
 [8.03550766e-01 5.67517509e-01 3.51445891e-01 2.12810428e-01
  4.16279321e-01]
 [6.60715111e-01 4.53074591e-01 2.93795383e-01 5.84606748e-01
  2.78184655e-01]
 [4.18305596e-01 8.38696084e-01 8.26857764e-01 9.60983121e-01
  5.05454329e-01]
 [7.19535678e-01 8.00044060e-01 1.75920862e-01 7.36159623e-01
  8.53463596e-01]
 [3.14113660e-02 4.57958095e-01 7.21182268e-01 1.19663443e-01
  8.04069759e-01]
 [7.91457593e-01 9.60373039e-01 8.83292250e-01 5.75364507e-01
  6.90911109e-01]
 [6.71859868e-01 1.80598010e-01 5.70936774e-01 6.05241400e-01
  8.68893320e-01]
 [2.28103771e-01 4.79402623e-01 2.70651827e-01 7.17206703e-01
  9.17584149e-01]
 [2.99510446e-01 7.98486925e-01 8.18068883e-01 5.31952604e-01
  6.79110743e-01]
 [3.49885733e-01 6.03881592e-02 1.32566826e-02 7.59725322e-02
  5.61418624e-01]
 [2.53718505e-01 6.23167753e-01 8.12901791e-03 6.04695113e-01
  8.07693948e-01]
 [3.77585743e-01 5.99859174e-01 3.24881112e-01 8.56598205e-01
  4.79542539e-01]
 [3.56340947e-01 1.20710875e-01 6.62060376e-01 1.95357648e-01
  3.46980904e-02]
 [8.17272888e-01 4.63958628e-01 7.29938595e-04 3.60712225e-01
  2.98890144e-01]
 [8.81250986e-01 9.86648326e-01 2.90365564e-01 1.37103415e-01
  8.05951494e-01]
 [9.30090481e-01 8.99846328e-01 1.35459211e-01 5.35075133e-02
  2.78483305e-01]
 [8.00993007e-01 8.97891947e-02 2.46237352e-01 5.72890084e-01
  2.00833028e-02]
 [4.21145189e-03 4.40998502e-01 2.70120114e-01 1.91657745e-01
  2.29092309e-01]
 [6.60993432e-01 9.33696532e-01 1.37998957e-01 2.27048454e-01
  7.34229898e-01]
 [1.45183681e-01 3.78545740e-01 9.65778868e-01 3.72423828e-02
  3.40636043e-01]
 [6.76607713e-01 7.55545544e-01 7.25349355e-01 1.33753855e-01
  3.22891691e-01]
 [8.10807415e-01 2.03259082e-01 5.67357041e-02 4.02913966e-01
  9.88716660e-01]
 [6.34324739e-01 7.01777300e-01 3.17236823e-01 6.73837408e-01
  9.20096091e-01]
 [5.46654869e-01 4.61779330e-01 7.55060932e-01 2.69008599e-01
  8.10381251e-01]
 [8.99966704e-01 8.38315124e-01 1.15854852e-01 7.39945203e-01
  6.48931627e-01]
 [3.36924184e-01 8.73817763e-01 1.05101899e-01 3.19460003e-01
  1.41325413e-01]
 [3.04073348e-02 5.78960504e-01 5.73132651e-01 2.11381895e-01
  4.23322698e-01]
 [7.96962325e-01 1.02919018e-01 2.13094641e-01 1.58116023e-03
  8.68403642e-01]
 [1.82489071e-01 1.78740141e-01 7.53090794e-01 9.67180738e-01
  7.09785758e-01]
 [4.61909195e-01 5.24296049e-01 1.70855931e-01 6.29276674e-01
  8.45612908e-01]
 [2.76133778e-01 2.96679696e-01 7.13107101e-01 4.33451923e-01
  4.84565109e-01]
 [1.03307797e-01 5.56095210e-01 8.85572601e-02 2.59431943e-01
  5.91574654e-01]
 [7.78133000e-01 6.18045282e-01 5.92217456e-01 1.14523453e-01
  3.16721034e-01]
 [4.96632222e-01 6.14943027e-01 3.70424921e-01 1.65075720e-01
  9.52405588e-01]
 [2.46660057e-02 5.03054376e-01 3.13799586e-01 6.43683223e-01
  1.09793222e-01]
 [4.08141391e-01 4.05027575e-01 6.02610823e-01 6.25735113e-02
  9.47485067e-01]
 [8.22247230e-02 2.52082827e-01 5.38312681e-01 9.42952945e-01
  9.41389675e-01]
 [9.10892661e-01 3.43939392e-01 3.76233623e-01 6.73771607e-01
  1.92305200e-01]
 [3.47795409e-01 8.69778421e-01 6.59573442e-01 6.29002401e-01
  7.19870589e-01]
 [4.57263488e-01 8.87575213e-01 4.06457040e-01 8.24530811e-01
  6.26678006e-02]
 [7.04081315e-01 8.11806573e-01 5.24011804e-01 3.31586340e-01
  6.29792214e-01]
 [1.05411033e-01 4.55418421e-02 8.05579674e-01 3.97605416e-01
  1.28492913e-01]
 [3.21621953e-01 7.55230086e-01 4.29443920e-01 6.18538875e-01
  4.44777353e-02]
 [6.89706958e-01 8.85505766e-01 3.09404826e-03 3.55598381e-01
  3.60199472e-01]
 [3.62018779e-01 6.37464960e-01 1.93504528e-01 2.86479091e-01
  4.23249474e-01]
 [2.54820423e-01 4.68152834e-01 6.26893546e-01 6.93084465e-01
  1.68853091e-01]
 [3.24353769e-01 4.27569233e-01 8.47200943e-01 1.68792145e-01
  7.54499805e-02]
 [3.29688729e-02 7.90223527e-02 9.62076409e-01 5.14039545e-02
  3.71500041e-01]
 [3.60266068e-01 3.69333704e-01 6.50678340e-01 4.23788884e-01
  2.19129407e-01]
 [5.59494649e-01 2.22052159e-01 7.17384152e-01 5.22834154e-01
  2.55828666e-01]
 [8.40495657e-02 9.71438614e-01 2.63899521e-01 5.73974650e-02
  6.20073640e-01]
 [6.79042976e-01 1.16459594e-01 2.63984913e-01 4.35897859e-01
  1.92992112e-01]
 [3.73617900e-01 6.78647236e-01 8.07550739e-01 3.71062911e-01
  9.03559771e-01]
 [5.52742993e-01 8.39352246e-01 8.84489605e-01 4.55720979e-01
  6.81374544e-01]
 [3.60873717e-01 7.60671133e-01 6.09103742e-01 1.15807477e-01
  1.68917193e-01]
 [7.55526530e-01 5.04898461e-01 4.38685593e-01 9.29785792e-01
  3.50744474e-01]
 [3.13820798e-01 3.78006936e-01 2.90020882e-01 8.37509696e-01
  3.16723869e-01]
 [1.06601250e-01 2.96275704e-01 8.79143864e-01 7.77621360e-01
  6.07654699e-01]
 [6.41934904e-01 1.38053933e-01 2.79481140e-01 5.56329986e-01
  7.63167184e-01]
 [5.71988898e-01 3.84494229e-01 6.35274772e-01 2.89587348e-01
  4.82327673e-01]
 [2.65971870e-01 7.54339105e-01 7.73605851e-02 5.89875810e-02
  4.84162936e-01]
 [2.27183096e-01 8.53686570e-01 5.88354985e-01 3.85992007e-01
  8.33381833e-01]
 [1.97489735e-01 5.29661004e-01 7.76073503e-01 7.97492486e-01
  6.79187172e-01]
 [8.27927685e-01 2.57300750e-02 2.44122887e-02 5.01724774e-01
  8.04991556e-01]
 [8.85335562e-01 3.21822326e-01 6.05597112e-01 8.20602790e-01
  2.55833855e-01]
 [7.38289260e-01 8.63182128e-01 8.61006929e-01 8.99188891e-01
  2.76651347e-01]
 [4.32707477e-01 3.53502009e-01 1.99643554e-01 1.99469747e-01
  4.66819619e-01]
 [6.43131913e-01 9.97347191e-01 2.17091984e-01 2.68586004e-01
  4.25710666e-02]
 [1.31814742e-01 1.76331596e-01 6.96596055e-02 6.02598152e-01
  5.97976315e-01]
 [9.90904432e-01 8.62350989e-02 8.98927501e-01 8.99108653e-01
  1.31944376e-01]
 [7.28421251e-01 5.24476822e-01 1.71056820e-01 9.65741595e-01
  6.58973665e-01]
 [2.38230813e-01 3.66870933e-01 1.91006700e-01 1.72313371e-02
  1.80742022e-01]
 [3.05173688e-01 8.76404608e-01 6.21972802e-01 2.61137137e-01
  8.65622694e-01]
 [3.28113426e-01 3.74273374e-01 4.36901773e-01 6.71407114e-01
  7.24995436e-01]
 [6.77662624e-01 9.61481358e-01 5.37131431e-01 6.65960470e-01
  3.89118912e-01]
 [6.04625928e-02 7.68446076e-01 9.77617216e-01 3.15068223e-01
  5.76757592e-01]
 [5.84779415e-01 2.01940732e-01 7.94731208e-01 2.65510625e-01
  9.73375115e-01]
 [6.80894060e-01 6.54968558e-01 7.58216054e-01 4.97045194e-02
  8.97447061e-01]]

In [30]:
print(new_df.T)

         0         1         2         3         4         5         6   \
0  0.211997  0.711047  0.639021  0.568219  0.426478  0.705229  0.761644
1  0.565431  0.580650  0.271338  0.805542  0.357677  0.241928  0.552253
2  0.053296  0.340208  0.558136  0.250923  0.701669  0.645312  0.637754
3  0.672894  0.667409  0.725831  0.622163  0.284773  0.345589  0.084746
4  0.143203  0.398879  0.618024  0.024855  0.163024  0.558754  0.747250

         7         8         9   ...        90        91        92        93  \
0  0.728629  0.713171  0.133753  ...  0.131815  0.990904  0.728421  0.238231
1  0.572719  0.967418  0.623412  ...  0.176332  0.086235  0.524477  0.366871
2  0.920281  0.454549  0.308606  ...  0.069660  0.898928  0.171057  0.191007
3  0.930203  0.511946  0.711228  ...  0.602598  0.899109  0.965742  0.017231
4  0.880984  0.561629  0.314419  ...  0.597976  0.131944  0.658974  0.180742

         94        95        96        97        98        99
0  0.305174  0.328113  0.677663  0.060463  0.584779  0.680894
1  0.876405  0.374273  0.961481  0.768446  0.201941  0.654969
2  0.621973  0.436902  0.537131  0.977617  0.794731  0.758216
3  0.261137  0.671407  0.665960  0.315068  0.265511  0.049705
4  0.865623  0.724995  0.389119  0.576758  0.973375  0.897447

[5 rows x 100 columns]

In [31]:
print(new_df.sort_index(axis=0, ascending = False))

           0         1         2         3         4
99  0.680894  0.654969  0.758216  0.049705  0.897447
98  0.584779  0.201941  0.794731  0.265511  0.973375
97  0.060463  0.768446  0.977617  0.315068  0.576758
96  0.677663  0.961481  0.537131  0.665960  0.389119
95  0.328113  0.374273  0.436902  0.671407  0.724995
..       ...       ...       ...       ...       ...
4   0.426478  0.357677  0.701669  0.284773  0.163024
3   0.568219  0.805542  0.250923  0.622163  0.024855
2   0.639021  0.271338  0.558136  0.725831  0.618024
1   0.711047  0.580650  0.340208  0.667409  0.398879
0   0.211997  0.565431  0.053296  0.672894  0.143203

[100 rows x 5 columns]

In [32]:
view_df = new_df
view_df[0][0]=1234
print(view_df.head())

             0         1         2         3         4
0  1234.000000  0.565431  0.053296  0.672894  0.143203
1     0.711047  0.580650  0.340208  0.667409  0.398879
2     0.639021  0.271338  0.558136  0.725831  0.618024
3     0.568219  0.805542  0.250923  0.622163  0.024855
4     0.426478  0.357677  0.701669  0.284773  0.163024

# VIEW

In [33]:
new_df[0][0]=1234
print(new_df.head())

             0         1         2         3         4
0  1234.000000  0.565431  0.053296  0.672894  0.143203
1     0.711047  0.580650  0.340208  0.667409  0.398879
2     0.639021  0.271338  0.558136  0.725831  0.618024
3     0.568219  0.805542  0.250923  0.622163  0.024855
4     0.426478  0.357677  0.701669  0.284773  0.163024

# copy

In [34]:
copy_df = new_df.copy()
copy_df[0][0]=5678
print(copy_df)

              0         1         2         3         4
0   5678.000000  0.565431  0.053296  0.672894  0.143203
1      0.711047  0.580650  0.340208  0.667409  0.398879
2      0.639021  0.271338  0.558136  0.725831  0.618024
3      0.568219  0.805542  0.250923  0.622163  0.024855
4      0.426478  0.357677  0.701669  0.284773  0.163024
..          ...       ...       ...       ...       ...
95     0.328113  0.374273  0.436902  0.671407  0.724995
96     0.677663  0.961481  0.537131  0.665960  0.389119
97     0.060463  0.768446  0.977617  0.315068  0.576758
98     0.584779  0.201941  0.794731  0.265511  0.973375
99     0.680894  0.654969  0.758216  0.049705  0.897447

[100 rows x 5 columns]

# difference between copy and view

In [35]:
print(view_df.head(3))

             0         1         2         3         4
0  1234.000000  0.565431  0.053296  0.672894  0.143203
1     0.711047  0.580650  0.340208  0.667409  0.398879
2     0.639021  0.271338  0.558136  0.725831  0.618024

In [36]:
print(copy_df.head(3))

             0         1         2         3         4
0  5678.000000  0.565431  0.053296  0.672894  0.143203
1     0.711047  0.580650  0.340208  0.667409  0.398879
2     0.639021  0.271338  0.558136  0.725831  0.618024

# LOC FUNCTION

In [37]:
loc_df = new_df
loc_df.loc[0,0]=4321
print(loc_df.head(3))

             0         1         2         3         4
0  4321.000000  0.565431  0.053296  0.672894  0.143203
1     0.711047  0.580650  0.340208  0.667409  0.398879
2     0.639021  0.271338  0.558136  0.725831  0.618024

In [38]:
new_df.columns=list("ABCDE")
print(new_df.head(3))

             A         B         C         D         E
0  4321.000000  0.565431  0.053296  0.672894  0.143203
1     0.711047  0.580650  0.340208  0.667409  0.398879
2     0.639021  0.271338  0.558136  0.725831  0.618024

# DAY 4

In [50]:
df = pd.DataFrame(np.random.rand(15,5),index = np.arange(15),columns=['A','B','C','D','E'])
print(df)

           A         B         C         D         E
0   0.103812  0.468474  0.859287  0.349166  0.185609
1   0.511680  0.204882  0.263489  0.589505  0.895365
2   0.380236  0.131411  0.945151  0.167400  0.690530
3   0.944711  0.702896  0.546167  0.594436  0.903404
4   0.924199  0.438872  0.904389  0.039238  0.350977
5   0.234998  0.951546  0.521000  0.297437  0.679109
6   0.164734  0.077882  0.465917  0.283837  0.743285
7   0.008583  0.418011  0.576375  0.846319  0.036786
8   0.746561  0.941830  0.427376  0.025858  0.878224
9   0.182624  0.384800  0.508343  0.294174  0.464538
10  0.036670  0.735343  0.047704  0.288377  0.177707
11  0.550370  0.403481  0.694171  0.533740  0.398502
12  0.582828  0.480664  0.807208  0.559791  0.289812
13  0.059456  0.987773  0.725639  0.746979  0.850797
14  0.942013  0.526855  0.158705  0.722046  0.953095

# LOC

In [64]:
print([df['C']<0.3])

[0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14     True
Name: C, dtype: bool]

In [65]:
print(df.loc[df["C"]<0.3]) # loc is label based you have to spacify rows and columns

           A         B         C         D         E
1   0.511680  0.204882  0.263489  0.589505  0.895365
10  0.036670  0.735343  0.047704  0.288377  0.177707
14  0.942013  0.526855  0.158705  0.722046  0.953095

In [66]:
print(df.loc[(df["C"]<0.4) & (df["D"]>0.1)])

           A         B         C         D         E
1   0.511680  0.204882  0.263489  0.589505  0.895365
10  0.036670  0.735343  0.047704  0.288377  0.177707
14  0.942013  0.526855  0.158705  0.722046  0.953095

In [67]:
print(df.loc[:,["C","D"]])

           C         D
0   0.859287  0.349166
1   0.263489  0.589505
2   0.945151  0.167400
3   0.546167  0.594436
4   0.904389  0.039238
5   0.521000  0.297437
6   0.465917  0.283837
7   0.576375  0.846319
8   0.427376  0.025858
9   0.508343  0.294174
10  0.047704  0.288377
11  0.694171  0.533740
12  0.807208  0.559791
13  0.725639  0.746979
14  0.158705  0.722046

In [68]:
print(df.loc[[6,8],:])

          A         B         C         D         E
6  0.164734  0.077882  0.465917  0.283837  0.743285
8  0.746561  0.941830  0.427376  0.025858  0.878224

# DROP

In [71]:
print(df.drop(["E"], axis = 1))

           A         B         C         D
0   0.103812  0.468474  0.859287  0.349166
1   0.511680  0.204882  0.263489  0.589505
2   0.380236  0.131411  0.945151  0.167400
3   0.944711  0.702896  0.546167  0.594436
4   0.924199  0.438872  0.904389  0.039238
5   0.234998  0.951546  0.521000  0.297437
6   0.164734  0.077882  0.465917  0.283837
7   0.008583  0.418011  0.576375  0.846319
8   0.746561  0.941830  0.427376  0.025858
9   0.182624  0.384800  0.508343  0.294174
10  0.036670  0.735343  0.047704  0.288377
11  0.550370  0.403481  0.694171  0.533740
12  0.582828  0.480664  0.807208  0.559791
13  0.059456  0.987773  0.725639  0.746979
14  0.942013  0.526855  0.158705  0.722046

In [73]:
print(df.drop([0], axis = 0))

           A         B         C         D         E
1   0.511680  0.204882  0.263489  0.589505  0.895365
2   0.380236  0.131411  0.945151  0.167400  0.690530
3   0.944711  0.702896  0.546167  0.594436  0.903404
4   0.924199  0.438872  0.904389  0.039238  0.350977
5   0.234998  0.951546  0.521000  0.297437  0.679109
6   0.164734  0.077882  0.465917  0.283837  0.743285
7   0.008583  0.418011  0.576375  0.846319  0.036786
8   0.746561  0.941830  0.427376  0.025858  0.878224
9   0.182624  0.384800  0.508343  0.294174  0.464538
10  0.036670  0.735343  0.047704  0.288377  0.177707
11  0.550370  0.403481  0.694171  0.533740  0.398502
12  0.582828  0.480664  0.807208  0.559791  0.289812
13  0.059456  0.987773  0.725639  0.746979  0.850797
14  0.942013  0.526855  0.158705  0.722046  0.953095

In [75]:
print(df.drop([5]))

           A         B         C         D         E
0   0.103812  0.468474  0.859287  0.349166  0.185609
1   0.511680  0.204882  0.263489  0.589505  0.895365
2   0.380236  0.131411  0.945151  0.167400  0.690530
3   0.944711  0.702896  0.546167  0.594436  0.903404
4   0.924199  0.438872  0.904389  0.039238  0.350977
6   0.164734  0.077882  0.465917  0.283837  0.743285
7   0.008583  0.418011  0.576375  0.846319  0.036786
8   0.746561  0.941830  0.427376  0.025858  0.878224
9   0.182624  0.384800  0.508343  0.294174  0.464538
10  0.036670  0.735343  0.047704  0.288377  0.177707
11  0.550370  0.403481  0.694171  0.533740  0.398502
12  0.582828  0.480664  0.807208  0.559791  0.289812
13  0.059456  0.987773  0.725639  0.746979  0.850797
14  0.942013  0.526855  0.158705  0.722046  0.953095

In [76]:
print(df.drop([5,6]))

           A         B         C         D         E
0   0.103812  0.468474  0.859287  0.349166  0.185609
1   0.511680  0.204882  0.263489  0.589505  0.895365
2   0.380236  0.131411  0.945151  0.167400  0.690530
3   0.944711  0.702896  0.546167  0.594436  0.903404
4   0.924199  0.438872  0.904389  0.039238  0.350977
7   0.008583  0.418011  0.576375  0.846319  0.036786
8   0.746561  0.941830  0.427376  0.025858  0.878224
9   0.182624  0.384800  0.508343  0.294174  0.464538
10  0.036670  0.735343  0.047704  0.288377  0.177707
11  0.550370  0.403481  0.694171  0.533740  0.398502
12  0.582828  0.480664  0.807208  0.559791  0.289812
13  0.059456  0.987773  0.725639  0.746979  0.850797
14  0.942013  0.526855  0.158705  0.722046  0.953095

In [77]:
print(df) # it means that origional dataset is not changed

           A         B         C         D         E
0   0.103812  0.468474  0.859287  0.349166  0.185609
1   0.511680  0.204882  0.263489  0.589505  0.895365
2   0.380236  0.131411  0.945151  0.167400  0.690530
3   0.944711  0.702896  0.546167  0.594436  0.903404
4   0.924199  0.438872  0.904389  0.039238  0.350977
5   0.234998  0.951546  0.521000  0.297437  0.679109
6   0.164734  0.077882  0.465917  0.283837  0.743285
7   0.008583  0.418011  0.576375  0.846319  0.036786
8   0.746561  0.941830  0.427376  0.025858  0.878224
9   0.182624  0.384800  0.508343  0.294174  0.464538
10  0.036670  0.735343  0.047704  0.288377  0.177707
11  0.550370  0.403481  0.694171  0.533740  0.398502
12  0.582828  0.480664  0.807208  0.559791  0.289812
13  0.059456  0.987773  0.725639  0.746979  0.850797
14  0.942013  0.526855  0.158705  0.722046  0.953095

In [82]:
df = df.drop(['D',"E"],axis = 1)
df = df.drop([3,5,8,11,14])
print(df)

           A         B         C
0   0.103812  0.468474  0.859287
1   0.511680  0.204882  0.263489
2   0.380236  0.131411  0.945151
4   0.924199  0.438872  0.904389
6   0.164734  0.077882  0.465917
7   0.008583  0.418011  0.576375
9   0.182624  0.384800  0.508343
10  0.036670  0.735343  0.047704
12  0.582828  0.480664  0.807208
13  0.059456  0.987773  0.725639

# reset index

In [90]:
print(df.reset_index())

   index         A         B         C
0      0  0.103812  0.468474  0.859287
1      1  0.511680  0.204882  0.263489
2      2  0.380236  0.131411  0.945151
3      3  0.924199  0.438872  0.904389
4      4  0.164734  0.077882  0.465917
5      5  0.008583  0.418011  0.576375
6      6  0.182624  0.384800  0.508343
7      7  0.036670  0.735343  0.047704
8      8  0.582828  0.480664  0.807208
9      9  0.059456  0.987773  0.725639

In [92]:
df.reset_index(drop=True, inplace = True)
df

          A         B         C
0  0.103812  0.468474  0.859287
1  0.511680  0.204882  0.263489
2  0.380236  0.131411  0.945151
3  0.924199  0.438872  0.904389
4  0.164734  0.077882  0.465917
5  0.008583  0.418011  0.576375
6  0.182624  0.384800  0.508343
7  0.036670  0.735343  0.047704
8  0.582828  0.480664  0.807208
9  0.059456  0.987773  0.725639

# ILOC

In [94]:
print(df)

          A         B         C
0  0.103812  0.468474  0.859287
1  0.511680  0.204882  0.263489
2  0.380236  0.131411  0.945151
3  0.924199  0.438872  0.904389
4  0.164734  0.077882  0.465917
5  0.008583  0.418011  0.576375
6  0.182624  0.384800  0.508343
7  0.036670  0.735343  0.047704
8  0.582828  0.480664  0.807208
9  0.059456  0.987773  0.725639

In [96]:
print(df.iloc[[0,4]])

          A         B         C
0  0.103812  0.468474  0.859287
4  0.164734  0.077882  0.465917

In [99]:
df.iloc[[0,1],[0,2]]

          A         C
0  0.103812  0.859287
1  0.511680  0.263489

In [100]:
df["C"]= None
print(df)

          A         B     C
0  0.103812  0.468474  None
1  0.511680  0.204882  None
2  0.380236  0.131411  None
3  0.924199  0.438872  None
4  0.164734  0.077882  None
5  0.008583  0.418011  None
6  0.182624  0.384800  None
7  0.036670  0.735343  None
8  0.582828  0.480664  None
9  0.059456  0.987773  None

# dropna()

In [109]:
sh = pd.read_csv("superhero.csv")
print(sh)

       Name        Toy        Born
0  Superman        NaN         NaN
1    Batman  Batmobile  1940-04-25
2  Catwoman        NaN         NaN

In [110]:
print(sh.dropna())

     Name        Toy        Born
1  Batman  Batmobile  1940-04-25

In [111]:
print(sh.dropna(axis = "columns"))

       Name
0  Superman
1    Batman
2  Catwoman

In [112]:
print(sh.dropna(axis = 1))

       Name
0  Superman
1    Batman
2  Catwoman

In [123]:
print(sh.dropna(axis = "rows"))

     Name        Toy        Born
1  Batman  Batmobile  1940-04-25

In [124]:
print(sh.dropna(axis = 0))

     Name        Toy        Born
1  Batman  Batmobile  1940-04-25

In [125]:
print(sh.dropna())

     Name        Toy        Born
1  Batman  Batmobile  1940-04-25

In [126]:
sh.dropna(inplace =True)

In [127]:
sh

     Name        Toy        Born
1  Batman  Batmobile  1940-04-25

# DROP DUPLICATE

In [132]:
iceshop = pd.read_csv("iceshop.csv")
print(iceshop)

       Brand Style  Rating
0      Kulfa   Cup     4.0
1      Kulfa   Cup     4.0
2    Praline  Pack     3.5
3      Mango   Cup     4.5
4      Mango   Cup     4.5
5  Chocolate  Pack     4.0

In [135]:
print(iceshop.drop_duplicates())

       Brand Style  Rating
0      Kulfa   Cup     4.0
2    Praline  Pack     3.5
3      Mango   Cup     4.5
5  Chocolate  Pack     4.0

In [137]:
print(iceshop.drop_duplicates(subset =["Brand"])) # remove duplicate from subset

       Brand Style  Rating
0      Kulfa   Cup     4.0
2    Praline  Pack     3.5
3      Mango   Cup     4.5
5  Chocolate  Pack     4.0

In [141]:
print(iceshop.drop_duplicates(subset =["Style"]))

     Brand Style  Rating
0    Kulfa   Cup     4.0
2  Praline  Pack     3.5

In [143]:
iceshop.drop_duplicates(inplace = True)
print(iceshop)

       Brand Style  Rating
0      Kulfa   Cup     4.0
2    Praline  Pack     3.5
3      Mango   Cup     4.5
5  Chocolate  Pack     4.0

In [144]:
iceshop

       Brand Style  Rating
0      Kulfa   Cup     4.0
2    Praline  Pack     3.5
3      Mango   Cup     4.5
5  Chocolate  Pack     4.0

# SHAPE

In [146]:
print(iceshop.shape)

(4, 3)

# INFO

In [147]:
iceshop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Brand   4 non-null      object
 1   Style   4 non-null      object
 2   Rating  4 non-null      float64
dtypes: float64(1), object(2)
memory usage: 128.0+ bytes